<header>

  <nav>
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/houses"> Houses </a></li>
  <li><a href="/students">Students</a></li>
  <li><a href="/students/new"> Add New Students </a></li>

  </ul>
  </nav>

  </header>
